body {
    background-image: url('images/name3.png'), url('images/stars.png'), url('images/clouds.png'), url('images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    border-radius: 25px;
    border: 10px solid white;
    background: #cccccc;
    padding: 10px;
    height: 25px;
    font-family: Impact;
    color: black;
    margin-top: -980px;
    text-align: left;
    font-size: 20px;
    position: fixed;
}

h2 {
    border-radius: 25px;
    border: 10px solid white;
    background: #cccccc;
    padding: 10px;
    height: 25px;
    font-family: Impact;
    margin-top: -115px;
    text-align: left;
    font-size: 20px;
    position: fixed;
}

.links {
    text-decoration: none;
    color: black;
}

.links:hover {
    color: white;
}

.intro {
    border-radius: 25px;
    border: 20px solid white;
    background: #cccccc;
    padding: 20px;
    width: 800px;
    height: 700px;
    margin: 0 auto;
    margin-top: 1000px;
    font-size: 100px;
    font-family: Impact;
    text-align: center;
    background-image: url('images/rocket.png');
    opacity: 0.9;
}

.hobby {
    border-radius: 25px;
    border: 20px solid white;
    background: #cccccc;
    padding: 20px;
    width: 800px;
    height: 700px;
    margin: 0 auto;
    margin-top: 800px;
    margin-bottom: 90px;
    font-size: 100px;
    font-family: Impact;
    text-align: center;
    background-image: url('images/tennisBall5.png');
    opacity: 0.9;
}
